@import "./colors";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background:$background-color;
}


#app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 20px;    
}